* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: navy;
}

btn-primary {
  background-color: #073b3a;
}

h3 {
  font-weight: bold;
}
.forecast {
  font-size: 0.9em;
}
span {
  font-size: 1em;
}
li:hover {
  background-color: lightslategray;
  text-decoration: underline;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ...;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}
